<!DOCTYPE html> 
<html> 
<head> 
  <title>nameptr.com - a new domain registrar</title> 
  <link href="/stylesheets/screen.css" media="screen, projection, print" rel="stylesheet" type="text/css" /> 
  <link rel="alternate" type="application/rss+xml" title="nameptr blog" href="http://nameptr.com/feed/index.xml" />
</head> 
<body>


<div id="center">
  {{ post.title }}
  <a href="/"><h1>nameptr.com</h1></a>
  
  <div class="clear"></div>

  <div id="content">
    {{ content }}  
    
    <div class="sign_up">
      <h2>Sign up for an invite</h2>
      <p>
        Sign up and be one of the first people we contact when nameptr.com launches.
        <form action="http://nameptr.createsend.com/t/r/s/nlujtk/" method="post" id="subForm">
        <div>
        <label for="nlujtk-nlujtk">Email:</label>
        <input type="text" name="cm-nlujtk-nlujtk" id="nlujtk-nlujtk" />

        <input type="submit" value="Subscribe" />
        </div>
        </form>
      </p>
    </div>
    
  </div>


</div>
  
<script type="text/javascript" src="http://www.observerapp.com/record.js"></script>
<script type="text/javascript">
try { Observerapp.record("4cfc1e96f4f3b9fe3a0b9456"); } catch(e) {};
</script>  
  
</body>
</html>